<div class="header">
  <div class="layout section full container">
    <div class="brand">
      <a routerLink="/">
        X-CHANGE
      </a>
    </div>
    <div class="middle">Your Balance: $200</div>
    <div class="right">
      <div *ngIf="isAuth$ | async; else login">
        <span (click)="onLogout()">Logout</span>
        <fa-icon icon="bars"></fa-icon>
      </div>
      <ng-template #login>
        <span (click)="onLogin()">Login</span>
      </ng-template>
    </div>
  </div>
</div>
