@import "../../../styles.scss";

.section {
  &.section-1 {
    height: 100px;
    background: $inactive;
  }

  &.section-2 {
    margin-top: -30px;
    background-color: $gold;
    padding: 0px 10px;
  }

  .module {
    >* {
      width: 48%;
    }
  }
}
