<div class="home">

  <div class="section section-1">
    <div class="module">
      <img src="assets/transaction.jpg" alt="transaction" />
    </div>
  </div>

  <div class="section section-2">
    <div class="module">
      <p>X-Change is a place for everyone that want to buy or sell commodities</p>
    </div>
  </div>

  <div class="section 3">
    <div class="module module-1 half">
      <img src="assets/buybutton.jpeg" alt="buy" />
    </div>
    <div class="module module-2 half">
      <h2>Easy Investing</h2>
      <p>Buy gold or other commodities just with few clicks. </p>
      <a [routerLink]="['bid']"><button type="button" class="green">See Seller Bids</button></a>
    </div>
  </div>

  <div class="section 4">
    <div class="module module-1 half">
      <h2>Best Selling Price</h2>
      <p>Sell your commodities with best price in the market</p>
      <a [routerLink]="['ask']"><button type="button" class="green">See Buyer Asks</button></a>
    </div>
    <div class="module module-2 half">
      <img src="assets/sellbutton.jpeg" alt="sell" />
    </div>
  </div>
</div>
