/* VARIABLES */
$site-width : 425px;
$section-width: 90%;
$font-family: 'Monserrat';
$green: #1ABC9C;
$red: #E74C3C;
$active: #2C3E50;
$inactive: #34495E;
$gold: #F1C40F;
$silver: #BDC3C7;
$platinum: #EEEEEE;
$rhodium: #F39C12;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-family;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  background: #e8e8e8;
  padding-top: 60px;
}

img {
  max-width: 100%;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-weight: 400;
  margin: 5px 0;
}

p {
  margin: 5px 0;
}

h2 {
  font-size: 18px;
}

/* Layouting */
.layout {
  max-width: $site-width;
  margin: 0 auto;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $section-width;
  margin: 0 auto;

  &.full {
    width: 100%;
  }
}

.module {
  width: 100%;

  &.half {
    width: 50%;
  }

  &.three {
    width: 33.33%;
  }

  &.four {
    width: 25%;
  }

  @media (max-width: 980px) {
    & {
      width: 100%;
    }
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Elements */
button,
select {
  padding: 10px;
  margin: 5px 0;
  color: #FFF;
  border-radius: 5px;

  &.uppercase {
    text-transform: uppercase;
  }

  &.green {
    background-color: $green;
  }

  &.active {
    background-color: $active;
  }
}