/* You can add global styles to this file, and also import other style files */
$site-width : 425px;
$margin-auto: 0 auto;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

a {
  text-decoration: none;
  color: unset;
}

body {
  background: #e8e8e8;
  padding-top: 60px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout {
  max-width: 475px;
  margin: 0 auto;
}
